SOURCE/other-sources/merger/src/main/resources/ExchangeDataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- generic -->
	<xsd:complexType name="ExchangeDataRequest">
	</xsd:complexType>
	<xsd:complexType name="ExchangeDataResponse">
	</xsd:complexType>
	<xsd:element name="parameter" type="ExchangeDataRequest"/>
	<xsd:element name="answer" type="ExchangeDataResponse"/>

</xsd:schema>